.discografia{
    background-image:url(../assets/img/fondo_discografia.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100vw 100vh;
    height: 100vh;
display: flex;
   justify-content: center;
   padding-top: 80px;

   &_contenedor{
    background-color: rgba(54, 54, 54, 0.692);
font-size: 2rem;
padding: 20px;
border-radius: 20px;
height:90px;
color: rgb(107, 9, 91);
text-align: center;

}
}
.disco{
  
    margin-top: 80px;
       width:250px;
       height:250px;
       background-color: rgba(0, 0, 0, 0.644);
       font-size: 1.25rem;
       color: aliceblue;
   border-width: 20px;
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.644);
   padding: 15px;
   box-sizing: border-box;
   display: inline-block;}


.imagen__disco{
    width: 284px;
    height: 300px;
    object-fit: cover;
}